@font-face {
    src: url("roboto/Roboto-Thin.woff2") format("woff2");
    font-family: "Roboto";
    font-weight: 100
}

@font-face {
    src: url("roboto/Roboto-Light.woff2") format("woff2");
    font-family: "Roboto";
    font-weight: 300
}

@font-face {
    src: url(roboto) format("woff2");
    font-family: "Roboto";
    font-weight: 400
}